{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--     响应式适应屏幕 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{% block title %}{% endblock %}</title>
    
<!-- {#  两种引入css文件方法 推荐下一种<link rel="stylesheet" href="/static/base.css">#} -->
    <link rel="stylesheet" href="{% static 'base.css' %}">
    
<!--   引入bootstrap的css文件和js文件 -->
    <link rel="stylesheet" href="{% static '/bootstrap3.3.7/css/bootstrap.min.css' %}">
    
    <script charset="utf-8" type="text/javascript" src="{% static 'jquery1.12.4.min.js'%}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static 'bootstrap3.3.7/js/bootstrap.min.js' %}"> </script>
    
    
    
    {# 为主页home设置的拓展 #}
    {% block header_extends %}{% endblock %}
    
    
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class ='navbar-brand' href="{% url 'home' %}">新的博客网站首页</a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar-collapse" class="collapse navbar-collapse" >
                <ul class="nav navbar-nav">
                    <li class="{% block nav_home_active %}{% endblock %}"><a href="{% url 'home' %}">首页</a></li>
                    <li class="{% block nav_blog_active %}{% endblock %}"><a href="{% url 'blog_list' %}">博客</a></li>
                </ul>
            </div>
        </div>
    </div>
    {% block content %}{% endblock %}
</body>
</html>